* {
  font-family: Okra, Helvetica, sans-serif;
}

.dark-mode {
  background-color: black;
  color: white;
}

.header {
  /* background-image: url("images/food-wallpaper.png"); */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://i.ibb.co/qRqSb0p/food-wallpaper.png");
  height: 300px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100%;
  border: 1px solid black;

}
.rest-text {
    text-decoration: none;
}
.nav-item {
  font-size: 18px;
  line-height: 27px;
}

#profile {
    background: white;
    width: fit-content;
    padding: 10px
}

#profile img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

/* search */

.logo-wrapper{
  position: relative;
}

.fixed-header_wapper{
    margin-top: -130px;
}


.heading{
    margin-top: 160px;
    color:white;
    font-size:45px;
}

select{

  min-width: 15ch;
  max-width: 50ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.restlist{
    width:30%  
}
a{
    text-decoration:none
}


/* Quick Search  */

#QuickHeading{
    color:orange;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    display:block;
    margin-left: 2%;
}
/* 
#QuickHeading:hover{
    font-size:35px; 
} */

#QuickSubHeading{
    line-height: 2;
    color:gray;
    font-size:20px;
    margin-left: 2%;
}

.tileContainer{
    height:200px;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 0px 5px 5px gray;
}

.tileContainer:hover{
    transform: scale(1.1)
}

.tileComponent1{
    width:58%;
    float: left;
    height:200px;
}
.tileComponent1 > img{
    height:200px;
    width:100%;
}
.tileComponent2{
    width:32%;
    float: left;
    height:100px;
    margin-left: 7%;
    margin-top: 15%;
}
.componentHeading{
    font-size: 25px;
    color:orange;
}

.componentHeading > a{
    color:orange;
}
.componentSubHeading{
    color:gray;
}